        <link rel="stylesheet" href="/css/user_profile.css">
        <h1>
            Codeial / Profile Page
            <p>
                <%=user.name %>
            </p>
            <p>
                <%=user.email %>
            </p>
            <p><a href='/users/signout'>Sign out</a></p>
        </h1>
